/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: primary;
}
#board {
  width: 100%; 
  table-layout: fixed; /* Fixed table layout to prevent cells from resizing */
}

.jeopardy-cell {
  width: 100px; 
  height: 100px; 
  text-align: center;
  border: 1px solid #000;
  overflow: hidden;
  text-overflow: ellipsis; /* Add an ellipsis (...) for long text */
  font-size:x-small;
  font-weight: bold;
  background-color: #060ce9 ;
}

#loadingView {
 padding: 10%
}



